:root {
    --body-backgroud: rgb(214, 214, 222);
    --btn-background: rgb(255, 255, 255);
    --item-background: rgb(234 227 213 / 80%);
    --color: black;
}

html {
    overflow: hidden;
}

body {
    background: var(--body-backgroud);
    margin: 0;
    display: grid;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    color: var(--color);
}

::-webkit-scrollbar {
    width: 0.5em;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(131 124 124 / 65%);
}

#container {
    display: flex;
    flex-direction: column;
}

form {
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.4vw;
    position: sticky;
    top: 0;
}

#input {
    height: 26px;
    min-width: 200px;
    max-width: auto;
    border: none;
    outline: none;
    background: var(--btn-background);

    &:focus {
        background: rgb(76, 78, 102);
        color: aliceblue;
    }
}
.list-item {
    background: var(--item-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    & button {
        margin-right: 0.7em;
    }
}

.item {
    overflow-y: auto;
    max-width: 80vw;
    margin-left: 0.7em;
}

button {
    cursor: pointer;
    height: 26px;
    border-style: none;
    font-weight: 600;
    background: var(--btn-background);

    &:hover {
        background: rgb(89, 85, 77);
        color: aliceblue;
        scale: 0.9;
    }
}

@media(prefers-color-scheme:dark) {
    :root {

        --body-backgroud: rgb(40, 38, 38);
        --btn-background: #8d8787;
        --item-background: rgba(64, 64, 64, 0.8);
        --color: rgb(191, 180, 180);
    }
}